* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434343;
}

body {
    display: grid;
    grid: "header header"
          "aside content"
          "aside content";
    grid-template-columns: 250px 1fr;
}

.header {
    z-index: 1;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0px 2px 0 0 #cbcaca;
    padding-bottom: 10px;
    position: fixed;
    min-width: 100%;
    background: #fff;
}

.logo__link {
    color: #ffbe41;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.logo__title {
    margin-left: 10px;
}

.search {
    display: flex;
    justify-content: center;
    position: relative;
    right: 85px;
    width: 450px;
    height: 30px;
}

.search-input {
    width: 100%;
    border: 2px solid #c6c6c6;
    border-right: none;
}

.search-icon__btn {
    background: #e3e3e3;
    height: 30px;
    border: 2px solid #c6c6c6;
    outline: none;
    border-radius: 0 3px 3px 0;
    color: #2b2b2b;
    cursor: pointer;
}

.search-icon__btn:hover {
    background: #c1c1c1;
}

.fa-search {
    font-size: 15px;
}

.search-mic__btn {
    border: none;
    background: #fff;
    font-size: 21px;
    color: #ababab;
    cursor: pointer;
}

.search-mic__btn:hover {
    color: #969696;
}

.right-menu {
    display: flex;
    align-items: center;
}

.notification-bell {
    border: none;
    background: #fff;
    font-size: 21px;
    color: #ababab;
    cursor: pointer;
}

.notification-bell:hover {
    color: #969696;
}

.profile {
    position: relative;
    border: none;
    background: #fff;
    cursor: pointer;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    flex-direction: column;
}

.dropdown:hover .string {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.string {
    cursor: pointer;
}

.string:hover {
    background: #969696;
}

#b3 {
    border-top: 1px solid grey;
}

#b3 {
    color: #e21212;
}

.dropdown-menu h4 {
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    background: #fdfdfd;
    width: 160px;
    right: 30px;
    position: absolute;
    border-radius: 6px;
    border: #cbcaca solid 1px;
}

.dropdown-menu div {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.profile__img {
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.aside {
    grid-area: aside;
    width: 250px;
    background: #e9e9e9;
    color: #3f3f3f;
    position: fixed;
    top: 68px;
    height: 100%;
}

.channels {
    height: 740px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.channels::-webkit-scrollbar {
    display: none;
}

.channel {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    cursor: pointer;
}

.channel-info__name {
    cursor: pointer;
}

.fa-circle {
    font-size: 13px;

}

.channel-info__name:hover {
    color: #559de9;
}

.channel:hover {
    background: #b1b1b1;
}

.channel-info__viewer {
    display: flex;
    align-items: center;
}

.channel-info {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.viewers {
    font-size: 1.2rem;
    font-weight: 400;
}

.social-media {
    text-align: center;
    padding: 25px 25px;
    width: 200px;
    height: 100px;
    margin: 20px auto;
    background-color: #ccc;
    border-radius: 5px;
}

.social-media__text::selection {
    background: #fcae33;
    color: #fff;
}

.social-media__icons {
    margin-top: 5px;
    font-size: 20px;
}

.social-media__icons > i {
    cursor: pointer;
}

.social-media__icons > i:hover {
    color: #559de9;
}

.fa-circle {
    display: inline-block;
    color: #e21212;
    border-radius: 10px;
    margin-right: 3px;
}

.content {
    float: left;
    margin-top: 68px !important;
    min-width: 100%;
    grid-area: content;
}

.content__items {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*overflow: auto;*/
    white-space: nowrap;
    overflow-x: auto;
}

.content__list {
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 3px 10px;
    margin: 15px 15px;
    text-decoration: none;
    border: 1px solid #aeaeae;
    border-radius: 20px;
    background: #e7e7e7;
    cursor: pointer;
}

.content__list:first-child {
    background: #ffa03f;
    color: rgb(255, 255, 255);
}

.content__list:first-child .content__link {
    color: white;
}

.content__link {
    text-decoration: none;
    color: #1d1d1d;
}

.recommended-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 15px;
}

.recommended-videos .video-image:hover .video-cover__img {
    opacity: 0.6;
}

.video-image {
    position: relative;
    background: black;
    /*width: 100%;*/
}

.video-image:hover .paw {
    opacity: 1;
}

.paw {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 300%;
    color: #fff;
    cursor: pointer;
}

.live-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    background: #ff0000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.video-time {
    position: absolute;
    right: 5px;
    bottom: 8px;
    padding: 5px 10px;
    background: #000;
    opacity: .5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.video-cover__img {
    width: 100%;
    display: block;

}

.video-info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.video-left-side {
    display: flex;
}

.video-details {
    display: flex;
    flex-direction: column;

}

.fa-ellipsis-v {
    cursor: pointer;
}

.video-name, .author {
    padding-top: 5px;
    cursor: pointer;
}

.video-name:hover, .author:hover {
    color: #559de9;
}

.video-info__title {
    display: flex;
}

.fa-ellipsis-v {
    padding-top: 10px;
}

.content__carousel {
    position: relative;
    width: 40%;
    height: 15vw;
    margin: 80px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    opacity: 0;
}

.content__carousel label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}

.content__carousel img {
    width: 100px;
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(30%, 0, -250px);
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-30%, 0, -250px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}


@media screen and (max-width: 1200px){
    .aside{
        width: 60px;
    }
    .channel-info, .social-media{
        display: none;
    }
    .profile__img {
        margin-right: 0;
    }
    .channels {
        height: 93%;
    }

}